img{ /* Estilo global para todas las imágenes */
    max-width: 80%; /* Limita el ancho máximo al 80% del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin recortarse */
}

.Contenerdor{ /* Contenedor principal */
    width: 90%; /* Ancho del 90% del contenedor padre */
    max-width: 1100px; /* Ancho máximo de 1100px */
    margin: 20px auto; /* Centrado horizontal con margen superior e inferior de 20px */
    display: grid; /* Utiliza un diseño de cuadrícula */
    grid-template-columns: auto auto auto auto; /* Cuatro columnas automáticas */
    justify-content: center; /* Centra el contenido horizontalmente */
    gap: 20px; /* Espacio entre los elementos de la cuadrícula */
    padding: 20px; /* Espacio interno de 20px */
}

.Contenido{
    background-color: white; /* Fondo blanco */
    border: 2px solid #696969; /* Borde gris */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centra el texto */
    padding: 5px; /* Espacio interno de 5px */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    text-transform: capitalize; /* Capitaliza la primera letra de cada palabra */
    letter-spacing: normal; /* Espaciado normal entre letras */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra de texto suave */
}

.Contenido img{
    height: 200px; /* Altura fija de 200px */
    width: auto; /* Ancho automático para mantener la proporción */
}

body{
    background-attachment: fixed; /* Fondo fijo */
    background-color: aliceblue; /* Color de fondo azul claro */
}